
.body{
   margin: 0; /* Supprime les marges par défaut */
    padding: 0; /* Supprime le padding par défaut */
}


header {

    width: 100vw; 
    background-color: #22a532; /* Couleur de fond du header */
    padding: 20px; /* Espacement interne */
    color:white;
    text-align: center; /* Centrer le texte */
   
}
.headerTitle{
  margin: 0;
    color:white;
    

 
}

.navbar {
  background-color: #22a535; 
 
}
.navbar ul{
   display: flex;
   justify-content: center;
   
}

.navbar li {
    margin: 0 15px; 
    list-style-type: none;
    
}

.navbar a {
    color: white; /* Couleur des liens */
    text-decoration: none; /* Supprimer le soulignement */
    font-weight: bold; /* Mettre le texte en gras */
    transition: color 0.3s; 
    
}

.navbar a:hover {
    color: #2a18b1; /* Couleur des liens au survol */
}

footer {
    width: 100vw; 
    background-color: #22a532; /* Couleur de fond du header */
    padding: 2px; /* Espacement interne */
    color:white;
    text-align: center; /* Centrer le texte */
}
